
body {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 30px;
    width: 30%;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Add some basic styles to the divs */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Add gap between rows */
    margin-top: 50px; /* Add some margin to top */
    margin: 0 auto
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px; /* Add gap between columns */
    text-align: center;
}

div {
    width: 650px; /* Increase width */
    height: 550px; /* Increase height */
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    line-height: 150px;
    font-size: 30px; /* Increase font size */
    font-weight: bold;
    text-align: center;
}

/* Customize the colors of each div */
#div1 {
    background-color: red;
    background-image: url('https://th.bing.com/th/id/OIP.JFqCUpsBSQ6MM3bIcKw-7QHaE7?pid=ImgDet&rs=1');
}

#div2 {
    background-color: orange;
    background-image: url('https://th.bing.com/th/id/OIP.JFqCUpsBSQ6MM3bIcKw-7QHaE7?pid=ImgDet&rs=1');
}

#div3 {
    background-color: yellow;
    background-image: url('https://th.bing.com/th/id/OIP.JFqCUpsBSQ6MM3bIcKw-7QHaE7?pid=ImgDet&rs=1');
}

#div4 {
    background-color: green;
    background-image: url('https://th.bing.com/th/id/OIP.JFqCUpsBSQ6MM3bIcKw-7QHaE7?pid=ImgDet&rs=1');
}

#div5 {
    background-color: purple;
    background-image: url('https://th.bing.com/th/id/OIP.JFqCUpsBSQ6MM3bIcKw-7QHaE7?pid=ImgDet&rs=1');
}

#div6 {
    background-color: pink;
    background-image: url('https://th.bing.com/th/id/OIP.JFqCUpsBSQ6MM3bIcKw-7QHaE7?pid=ImgDet&rs=1');
}
